  <div class="sidebar" id="sidebar">
    <h2><a href="{% url 'main:admin_dashboard' %}">Rising Giants</a></h2>
    <div class="nav-links">
      <a href="{% url 'main:admin_dashboard' %}" class="active"><i class="fas fa-home"></i>Dashboard</a>
      <a href="{% url 'main:admin_students'%}"><i class="fas fa-user-graduate"></i>Students</a>
      <a href="{% url 'main:admin_teachers'%}"><i class="fas fa-chalkboard-teacher"></i>Teachers</a>
      <a href="{% url 'main:admin_courses'%}"><i class="fas fa-book"></i>Courses</a>
      <a href="{% url 'main:admin_departments'%}"><i class="fas fa-building"></i>Departments</a>
      <a href="#"><i class="fas fa-file-alt"></i>Assignments</a>
      <a href="#"><i class="fas fa-folder-open"></i>Materials</a>
      <a href="#"><i class="fas fa-cog"></i>Settings</a>
    </div>
    <div class="toggle-btn" id="toggle-btn">
      <i class="fas fa-angle-double-left"></i>
    </div>
  </div>