  <aside class="sidebar">
    <h2>Student Panel</h2>
    <ul>
      <li><a href="{% url 'main:student_dashboard' %}" class="active">Dashboard</a></li>
      <li><a href="{% url 'main:student_course_list' %}">My Courses</a></li>
      <li><a href="{% url 'main:student_assignment_list' %} ">Assignments</a></li>
      <li><a href="{% url 'main:student_submissions_list' %} ">Submissions</a></li>
      <li><a href="{% url  'main:student_learning_materials' %}">Learning Materials</a></li>
      <li><a href="#">Notifications</a></li>
      <li><a href="{% url 'users:profile' %}">Profile</a></li>
    </ul>
    <a href="{% url 'users:logout' %}" class="logout-btn">Logout</a>
  </aside>
