  <!-- Sidebar -->
  <aside class="sidebar">
    <h2>Teacher Panel</h2>
    <ul>
      <li><a href="{% url 'main:teacher_dashboard' %}" class="active">Dashboard</a></li>
      <li><a href="{% url 'main:teacher_course_list' %}">My Courses</a></li>
      <li><a href="{% url 'main:teacher_assignment_list' %}">Assignments</a></li>
      <li><a href="{% url 'main:teacher_learning_materials_list' %}">Learning Materials</a></li>
      <li><a href="{% url 'main:teacher_submissions_list' %}">Submissions</a></li>
      <!-- <li><a href="#">Student Progress</a></li> -->
      <li><a href="#">Profile</a></li>
      
    </ul>
    <a href="{% url 'users:logout' %}" class="logout-btn">Logout</a>
  </aside>
