{% extends "base.html" %}
{% load static %}
{% block extra_styles %} <link rel="stylesheet" href="{% static 'users/login.css' %}"> {% endblock extra_styles %}
{% block content  %}
  <div class="form-container">
    <h2>Student Login</h2>

    <form id="login-form" method="POST" action="">
        {% csrf_token %}

      {{form.non_field_errors}}
      <label for="student_id">School ID</label>
      <!-- <input type="text" id="student_id" name="student_id" placeholder="Enter your Student ID" required> -->

      {{form.school_id}}
      {{form.school_id.errors}}

      <label for="password">Password</label>
      <!-- <input type="password" id="password" name="password" placeholder="Enter your password" required> -->
       {{form.password}}
       {{form.password.errors}}

      <button type="submit">Login</button>
    </form>

    <p class="alt">Don't have an account? <a href="{% url 'users:register' %}">Create one</a></p>
  </div>

</body>
</html>
{% endblock content %}
