{% extends 'main_base.html' %}
{% block body %}

    <!-- Dashboard -->
    <div class="dashboard-content">
      <!-- Overview Cards -->
      <div class="cards">
        <div class="card">
          <h3>Total Students</h3>
          <p>0</p>
        </div>
        <div class="card">
          <h3>Total Teachers</h3>
          <p>0</p>
        </div>
        <div class="card">
          <h3>Total Courses</h3>
          <p>0</p>
        </div>
        <a href="{% url 'main:departments'%}">
        <div class="card">
            <h3>Departments</h3>
          <p>0</p>
        </div>
        </a>

      </div>

      <!-- Recent Activities -->
      <div class="section activities">
        <h2>Recent Activities</h2>
        <ul>
          <li>No activities yet.</li>
        </ul>
      </div>

      <!-- Quick Actions -->
      <div class="section quick-actions">
        <h2>Quick Actions</h2>
        <a href="{% url 'main:create_department'%}"> Create New Department </a>
        <button>Assign Courses</button>
        <button>Upload Material</button>
      </div>
    </div>
  </div>

  <script>
    const sidebar = document.getElementById('sidebar');
    const toggleBtn = document.getElementById('toggle-btn');

    toggleBtn.addEventListener('click', () => {
      sidebar.classList.toggle('collapsed');
    });
  </script>

{% endblock body %}