{% extends 'main_base.html' %}
{% load static %}
{% block extra_styles %}<link rel="stylesheet" href="{% static 'main/css/create_department.css' %}">
{% endblock extra_styles %}
{% block body %}
  <div class="container">
    <h2>Create Department</h2>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
        {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    <form id="departmentForm" method="POST">
        {% csrf_token %}
      <label for="departmentName">Department Name</label>
      {{form.name}}
      {{form.name.errors}}
      <button type="submit">Create Department</button>
      <p class="message" id="successMsg">Department created successfully!</p>
    </form>
  </div>

  <!-- <script>
    document.getElementById("departmentForm").addEventListener("submit", function(e) {
      e.preventDefault();
      const msg = document.getElementById("successMsg");
      msg.style.display = "block";
      setTimeout(() => msg.style.display = "none", 3000);
      this.reset();
    });
  </script> -->
{% endblock body %}