{% extends 'main_base.html' %}
{% load static %}
{% block extra_styles %}<link rel="stylesheet" href="{% static 'main/css/departments.css' %}">
{% endblock extra_styles %}
{% block body %}
  <div class="container">
    <h2>Departments</h2>
    <a href="{% url 'main:admin_create_department'%}" class="add-btn">+ Add Department</a>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Department Name</th>
          <!-- <th>Created By</th> -->
          <!-- <th>Updated At</th> -->
          <th>Num of  Teachers </th> 
          <th>Num Students </th> 
        </tr>
      </thead>
      <tbody id="departmentList">
        {%for department in departments %}
        <tr>
            <td>{{department.id}}</td>
            <td>{{department.name}}</td>
            <!-- <td>{{department.created_by}}</td> -->
            <td>{{department.num_teachers}}</td>
            <td>{{department.num_students}}</td>
        </tr>
        {% endfor %}
        <!-- Dynamic rows will come from backend -->
      </tbody>
    </table>
  </div>

  <script>
    // Later you'll populate this table dynamically with Django data
    // For now, the structure is ready to accept data via backend
  </script>
{% endblock body %}