{% extends 'main_base.html' %}
{% load static %}
{% block extra_styles %}<link rel="stylesheet" href="{% static 'main/css/admin_assign_course.css' %}">
{% endblock extra_styles %}
{% block body %}
  <div class="container">
    <h1>Assign Course to Teacher</h1>
    {% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
        <ul>
            <li class="errorlist"> {{message}}</li>
        </ul>
        {% endif%}
    {% endfor %}
    {% endif %}

    <div class="note">
      Select the course and teacher from the dropdowns below.  
      You can later update or reassign from the course details page.
    </div>

    <form  action="#" method="POST">
        {% csrf_token %}
      <!-- Department -->
      <div class="form-group">
        <label for="department">Department</label>
        <select id="department" name="department" >
            <option value="">-- Select Department --</option>
            {% for department in departments %}
            <option value="{{department.id}}">{{department}}</option>            
            {% endfor %}
        </select>
      </div>

      <!-- Course -->
      <div class="form-group">
        <label for="course">Course</label>
        <select id="course" name="course" required>
            <option value="">-- Select Course --</option>
            {% for  course in courses %}
            <option value="{{course.id}}">{{course}}</option>            
            {% endfor %}
        </select>
      </div>

      <!-- Teacher -->
      <div class="form-group">
        <label for="teacher">Teacher</label>
        <select id="teacher" name="teacher" required>
          <option value="">-- Select Teacher --</option>
            {% for teacher in teachers %}
            <option value="{{teacher.id}}">{{teacher}}</option>            
            {% endfor %}
        </select>
      </div>

      <!-- Optional Remarks -->
      <!-- <div class="form-group">
        <label for="remarks">Remarks (optional)</label>
        <input type="text" id="remarks" name="remarks" placeholder="E.g., For JHS 3 only">
      </div> -->

      <button type="submit">Assign Course</button>
    </form>
  </div>
{% endblock body %}