{% extends 'student_base.html' %}
{% load static %}
{% block extra_styles %} <link rel="stylesheet" href="{% static 'main/css/student_submissions_list.css' %}">
{% endblock extra_styles %}

{% block body %}
  <h1>My Submissions</h1>
  <p class="description">View all the assignments you’ve submitted and download your uploaded documents.</p>

  <div class="filter-bar">
    <form method="get">
      <label for="course">Course:</label>
      <select id="course" name="course">
        <option value="">All</option>
        {% for course in courses %}
        <option value="{{course.id}}"  {% if request.GET.course == course.id|stringformat:"s" %}  selected {% endif %} >{{course.name}}</option>
        {% endfor %}
      </select>

      <label for="assignment">Assignment:</label>
      <select id="assignment" name="assignment">
        <option value="">All</option>
        {% for assignment in assignments %}
        <option value="{{assignment.id}}" {% if request.GET.assignment == assignment.id|stringformat:"s" %}  selected {% endif %} >{{assignment.title}}</option>
        {% endfor %}
      </select>
      <button type="submit">Filter</button>
    </form>
  </div>

  <div class="submission-list">
    {% for submission in submissions %}
    <div class="submission-card">
      <h3>Assignment: {{submission.assignment}}</h3>
      <p><strong>Course:</strong> {{submission.assignment.course.name}}</p>
      <p><strong>Submitted On:</strong> {{submission.submitted_on}}</p>
      <a href="#">Download Submission</a>
    </div>
      {% empty %}
      <ul>
        <li>
          No submission available for course and/or assignment
        </li>
      </ul>
    {% endfor %}
  </div>
  {% if submissions.has_previous %}
      <a href="?page=1&assignment={{ request.GET.assignment }}&course={{ request.GET.course }}">First</a>
      <!-- <a href="?page=1&assignment={{ request.GET.assignment }}&course={{ request.GET.course }}">1</a> -->
  {% endif %}
  {% for val in submissions.paginator.page_range %}
      {% if val > submissions.number|add:-3 and val < submissions.number|add:3 %}
        {% if val == submissions.number %}
        <a  style="color: red;" href="?page={{val}}&assignment={{ request.GET.assignment }}&course={{ request.GET.course }}">{{val}}</a>
        {% else %}
        <a href="?page={{val}}&assignment={{ request.GET.assignment }}&course={{ request.GET.course }}">{{val}}</a>
        {% endif %}
      {% endif %}
  {% endfor %} 
  {% if submissions.has_next %}
      <a href="?page={{submissions.paginator.num_pages}}&assignment={{ request.GET.assignment }}&course={{ request.GET.course }}">Last</a>
  {% endif %}

  <!-- <div class="no-results" style="display: none;">
    <p>No submissions found for the selected filters.</p>
  </div> -->
{% endblock body %}