{% extends 'student_base.html' %}
{% load static %}
{% block extra_styles %} <link rel="stylesheet" href="{% static 'main/css/student_assignment_detail.css' %}">
{% endblock extra_styles %}


{% block body %}


  <div class="assignment-container">
    {% if messages %}
      <ul class="errorlist">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <h1>Assignment 1: {{assignment.title}}</h1>

    <div class="meta-info">
      <p><strong>Course:</strong> CSE101 - {{assignment.course.name}}</p>
      <p><strong>Due Date:</strong> {{assignment.due_date}}</p>
      <p><strong>Status:</strong> Pending</p>
    </div>

    <div class="assignment-desc">
      <h3>Description</h3>
      <p>
        This assignment covers basic Python syntax including variables, input/output, and simple arithmetic operations.
        Write a program that accepts user input, performs a few calculations, and prints results with explanations.
      </p>
    </div>

    <div class="resources">
      <h3>Attached Resources</h3>
      <a href="#">📘 Download Instructions PDF</a>
    </div>

    <div class="submission-section">
      <h3>Submit Your Work</h3>
      <p>Upload your completed assignment document before the deadline.</p>

      <form action="#" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if submission %}
          <p>Current submission: 
            <a href="{{ submission.submitted_document.url }}" target="_blank">
              {{ submission.submitted_document.name }}
            </a>
          </p> 
        {% endif %}      
        <input type="file" name="submission_file" accept=".pdf,.zip" {% if not submission %} required {% endif %}><br>
        <button type="submit">Upload Submission</button>
      </form>
    </div>

    
      {% if submission %}
      <div class="submission-info">
      <p><strong>Last Submitted:{{submission.updated_at}}</strong> </p>
      <p><strong>Submission Status:</strong>Submitted</p>
      </div>
      {% else %}
      <div class="submission-info-no">
      <p><strong>Last Submitted: - </strong> —</p>
      <p><strong>Submission Status:</strong> Not yet submitted</p>   

      {% endif %}
      </div>
  </div>

{% endblock body %}