{% extends 'student_base.html' %}
{% load static %}
{% block extra_styles %} <link rel="stylesheet" href="{% static 'main/css/student_learning_materials.css' %}">
{% endblock extra_styles %}

{% block body %}
  <div class="materials-container">
    <h1>Learning Materials</h1>

    <!-- Course 1 -->
  {% for course in courses %}
    {% if course.learning_materials.all %}
    <div class="course-block">
      <h2>{{course.name}}(CSE101)</h2>

      {% for material in course.learning_materials.all  %}
        <div class="material-card">
          <h3>{{material.title}}</h3>
          <p>{{material.description}}</p>
          <a href="{% url 'main:student_learning_material_download' material.slug %}">📘 Download</a>
        </div>
      {% endfor %}
    {% endif %}

      <!-- <div class="material-card">
        <h3>Week 2: Loops & Conditions</h3>
        <p>Learning materials for understanding loops and control flow.</p>
        <a href="#">📘 Download</a>
      </div>

      <div class="material-card">
        <h3>Practice Sheet</h3>
        <p>Exercises to reinforce Python fundamentals.</p>
        <a href="#">📘 Download</a>
      </div>
    </div> -->
  {% endfor %}

    <!-- Course 2 -->
    <!-- <div class="course-block">
      <h2>Digital Systems Design (CSE204)</h2>

      <div class="material-card">
        <h3>Module 1: Logic Gates</h3>
        <p>Introductory notes and truth tables.</p>
        <a href="#">📘 Download</a>
      </div>

      <div class="material-card">
        <h3>Module 2: Boolean Algebra</h3>
        <p>Comprehensive notes on simplification methods.</p>
        <a href="#">📘 Download</a>
      </div>
    </div>

    <!-- Example if no materials -->
    <!-- <div class="course-block">
      <h2>Database Systems (CSE305)</h2>
      <p class="no-materials">No materials uploaded yet.</p>
    </div>  -->

  </div>
{% endblock body %}