{% extends 'student_base.html' %}
{% load static %}
{% block extra_styles %} <link rel="stylesheet" href="{% static 'main/css/student_course_detail.css' %}">
{% endblock extra_styles %}
{% block body %}
  <div class="course-detail">
    <div class="course-header">
      <h1>{{course.name}}</h1>
      <p><strong>Course Code:</strong> CSE101</p>
      <p><strong>Instructor:</strong> {{course.teacher.username}}</p>
    </div>

    <div class="section">
      <h2>Course Description</h2>
      <p>
        This course introduces students to {{course.name}}.
        You’ll learn about variables, control structures, functions, and how to build simple algorithms.
        By the end, you’ll be confident writing and debugging beginner-level programs.
      </p>
    </div>

    

    <div class="section">
      <h2>Assignments</h2>
      {% for assignment in assignments %}
      <div class="assignment-card">
        <h3>{{assignment.title}}</h3>
        <p><strong>Due Date:</strong> {{assignment.due_date}}</p>
        {% if assignment in submitted_assignments %}
        <p><strong>Status: Submitted </strong> </p>
        {% else %}
        <p><strong>Status: Pending </strong> </p>
        {% endif %}
        {% if assignment.due_date < now %}
        <p class="due-date"> Time is due </p>
        {% elif assignment in submitted_assignments  %}
        <a href="{% url 'main:student_assignment_detail' assignment.slug %}"> View/Update</a>
        {% else %}
        <a href="{% url 'main:student_assignment_detail' assignment.slug %}"> View/submit</a>
        {% endif %}
        <!-- <h3>{{assignment.title}}</h3>
        <p>Due: {{assignment.due_date}}</p>
        <p>Status: Pending</p>
        <button>View / Submit</button> -->
        
      </div>
        {% empty %}
          <li>
            <span>No assignments yet </span>
          </li>          
      {% endfor %}
    </div>

    <div class="section">
      <h2>Learning Materials</h2>
      <ul class="materials-list">
        {% for material in  learning_materials %}
        <li><a href="{% url 'main:student_learning_material_download' material.slug %}">{{material.title}}</a></li>
        {% empty %}
        <li> No materials for this course yet </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock body %}
