{% extends 'student_base.html' %}
{% load static }
{% block body %}

  <!-- Main -->
    <div class="top-bar">
      <h1>Welcome Back, Student!</h1>
      <div class="profile">
        <img src="https://via.placeholder.com/40" alt="Student">
        <span>Jane Doe</span>
      </div>
    </div>

    <section class="dashboard-content">
      <div class="card">
        <h2>My Courses</h2>
        <h5> No. enrolled courses: <span>{{total_courses|length }}</span> </h5>
        <ul>
          <!-- <li>Web Programming</li>
          <li>Signals & Systems</li>
          <li>Embedded Systems</li>
          <li>Software Engineering</li> -->
        </ul>
        <a href="{% url 'main:student_course_list' %}" class="action-btn">View All Courses</a>
      </div>

      <div class="card">
        <h3>Active Assignments</h3>
        <h5> Active assignments : <span>{{active_assignments|length }}</span> </h5>
        <!-- <ul>
          <li>Web Programming – <strong>Due Nov 10</strong></li> -->
          <!-- <li>Signals & Systems – <strong>Due Nov 8</strong></li> -->
        <!-- </ul> -->
        <a href="{% url 'main:student_assignment_list' %}" class="action-btn">View Assignments</a>
      </div>

      <div class="card">
        <h3>Learning Materials</h3>
        <h5> Current Learning materials : <span>{{learning_materials|length }}</span> </h5>

        <!-- <ul>
          <li>Lecture Notes: Signal Decomposition</li>
          <li>Slides: Software Design Principles</li>
          <!-- <li>Lab Manual: Arduino Setup Guide</li> -->
        <!-- </ul> --> 
        <a href="{% url 'main:student_learning_materials' %}" class="action-btn">Access Materials</a>
      </div>
    </section>

    <section class="enroll-section">
      <a href="{% url 'main:student_course_enroll' %}" class="enroll-btn">+ Enroll for a New Course</a>
    </section>

    <section class="table-container">
      <h2>Recent Assignments</h2>
      <table>
        <thead>
          <tr>
            <th>Course</th>
            <th>Assignment</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        {% for assignment in active_assignments %}
          <tr>
            <td> {{assignment.course}} </td>
            <td> {{assignment.title}}</td>
            <td>{{assignment.due_date}}</td>]
            {% if assignment in submitted_assignments %}
            <td>Submitted</td>
            {% else %}
            <td>Pending</td>
            {% endif %}
            <td><a href="{% url 'main:student_assignment_detail' assignment.slug %}" class="action-btn-table">Submit</a></td>
          </tr>
        {% endfor %}

        </tbody>
      </table>
    </section>

  {% endblock body %}