{% extends 'teacher_base.html' %}
{% block body %}
  <!-- Main Content -->
    <div class="top-bar">
      <h1>Welcome Back, Teacher!</h1>
      <div class="profile">
        <img src="{{user.image.url}}" alt="Teacher">
        <span>{{user.username}}</span>
      </div>
    </div>

    <section class="dashboard-content">
      <div class="card">
        <h3>Total Courses</h3>
        <!-- <p>Number of courses you are handling.</p> -->
        <h1 style="text-align: center;">{{total_courses}}</h1>
      </div>
      <div class="card">
        <h3>Active Assignments</h3>
        <h1 style="text-align: center;">{{total_active_assignments}}</h1>
      </div>
      <div class="card">
        <h3>Submissions</h3>
        <p> <strong>{{total_courses_with_assignments}}</strong> courses, <strong>{{total_assignments_given}}</strong> assignments, <strong> {{total_submissions}}</strong> submissions.</p>
      </div>
      <div class="card">
        <h3>Recent Uploads</h3>
        <p>View your recently added learning materials.</p>
      </div>
    </section>

    <section class="table-container">
      <h2>Recent Student Submissions</h2>
      <table>
        <thead>
          <tr>
            <th>Student Name</th>
            <th>Assignment</th>
            <th>Submitted On</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button class="action-btn">View</button></td>
          </tr>
        </tbody>
      </table>
    </section>

    
{% endblock body %}