{% extends 'teacher_base.html' %}
{% load static %}
{% block extra_styles %}<link rel="stylesheet" href="{% static 'main/css/teacher_submissions_list.css' %}">
{% endblock extra_styles %}
{% block body %}
  <div class="page-header">
    <h1>Student Submissions</h1>
    <div class="filters">
      <select name="course" id="course">
        <option value="">Filter by Course</option>
        <option value="1">Mathematics</option>
        <option value="2">English Language</option>
        <option value="3">Integrated Science</option>
      </select>

      <select name="assignment" id="assignment">
        <option value="">Filter by Assignment</option>
        <option value="1">Assignment 1 - Algebra</option>
        <option value="2">Assignment 2 - Grammar</option>
      </select>

      <a class="download-btn" href="{% url 'main:teacher_submissions_download_all' %}">Download all</a>
      <!-- <button class="download-btn">Download All</button> -->
    </div>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Student Name</th>
          <th>Course</th>
          <th>Assignment</th>
          <th>Submitted On</th>
          <th>File</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for submission in submissions %}
        <tr>
          <td>{{submission.student}}</td>
          <td>{{submission.assignment.course.name}}</td>
          <td>{{submission.assignment.title}}</td>
          <td>{{submission.submitted_on}}</td>
          <td><a href="#" class="action-btn">View File</a></td>
          <td><button class="action-btn">Grade</button></td>
        </tr>
          {% empty %}
          <li>
            <span>No materials yet </span>
          </li>          
        {% endfor %}
        <!-- <tr>
          <td>Akua Nyarko</td>
          <td>English Language</td>
          <td>Essay Writing</td>
          <td>2025-10-26</td>
          <td><a href="#" class="action-btn">View File</a></td>
          <td><button class="action-btn">Grade</button></td>
        </tr> -->
      </tbody>
    </table>
  </div>
{% endblock body %}
