{% extends 'teacher_base.html' %}
{% load static %}
{% block extra_styles %}<link rel="stylesheet" href="{% static 'main/css/teacher_assignment_details.css' %}">
{% endblock extra_styles %}
{% block body %}
    <div class="assignment-info">
      <h1>{{assignment}} - {{assignment.course.name}} </h1>
      <p><strong>Due Date:</strong> October 30, 2025</p>
      <p><strong>Total Submissions:</strong> 24</p>
    </div>

    <div class="submissions-table">
      <h2>Student Submissions</h2>
      <table>
        <thead>
          <tr>
            <th>Student Name</th>
            <th>Student ID</th>
            <th>Submitted On</th>
            <th>File</th>
          </tr>
        </thead>
        <tbody>
          {% for submission in submissions %}
          <tr>
            <td>{{submission.student.usernam}}</td>
            <td>{{submission.student.school_id}}</td>
            <td>{{submission.submitted_on}}</td>
            <td><a href="{{submission.submitted_document}}" class="btn btn-download">Download</a></td>
          </tr>
          {% empty %}
          <li>
            <span>No submissions yet </span>
          </li>          
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock body %}
