{% extends 'teacher_base.html' %}
{% load static %}
{% block extra_styles %}<link rel="stylesheet" href="{% static 'main/css/teacher_assignment_list.css' %}">
{% endblock extra_styles %}
{% block body %}
  <main class="main-content">
    <h1>Assignments by Course</h1>

    <a class="btn add" href="{% url 'main:teacher_assignment_create'%}"> + Add new Assignment </a>

    <!-- Mathematics -->
     {% for course in courses %}
    <div class="course-section">
      <h2>{{course}}</h2>
      <table>
        <thead>
          <tr>
            <th>Assignment Title</th>
            <th>Due Date</th>
            <th>Submissions</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          {% for assignment in course.assignments.all %}
          <tr>
            <td>{{assignment.title}}</td>
            <td>{{assignment.due_date}}</td>
            <td> Not yet </td>
            <td>
              <a href="{% url 'main:teacher_assignment_detail' assignment.slug %}"class="btn">View</a>
              <a href="{% url 'main:teacher_assignment_edit' assignment.slug %}" class="btn btn-edit">Edit</a>
              <button class="btn btn-delete">Delete</button>
            </td>
          </tr>
          {% endfor %}
          <!-- <tr>
            <td>Quadratic Functions</td>
            <td>Nov 10, 2025</td>
            <td>21</td>
            <td>
              <a href="" class="btn">View</a>
              <a href="" class="btn btn-edit">Edit</a>
              <button class="btn btn-delete">Delete</button>
            </td>
          </tr> -->
        </tbody>

      </table>
    </div>
    {% endfor %}

    <!-- Science -->
    <!-- <div class="course-section">
      <h2>Science</h2>
      <table>
        <thead>
          <tr>
            <th>Assignment Title</th>
            <th>Due Date</th>
            <th>Submissions</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Photosynthesis Report</td>
            <td>Nov 2, 2025</td>
            <td>19</td>
            <td>
              <a href="" class="btn">View</a>
              <a href="" class="btn btn-edit">Edit</a>
              <button class="btn btn-delete">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->
  </main>
{% endblock body%}
