{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'main/css/student_dashboard.css' %}">
  {% block extra_styles %}{% endblock extra_styles %}
  <title>Student Dashboard | Rising Giants School Complex</title>
</head>
<body>
  <!-- Sidebar -->
  {% include "includes/student_sidebar.html" %}

  <!-- Main Content Wrapper -->
  <div class="main-content">
      {% block body %}
      <!-- page-specific content goes here -->
      {% endblock body %}
  </div>
</body>
</html>
