body {
    font-family: Arial, sans-serif;
    background-color: #f4f5f7;
    margin: 0;
    padding: 25px;
}

.assignment-container {
    /* max-width: 900px; */
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

h1 {
    font-size: 24px;
    color: #222;
    margin-bottom: 10px;
}

.meta-info {
    background-color: #f1f5f9;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid #e2e8f0;
}

.meta-info p {
    margin: 6px 0;
    color: #333;
}

.assignment-desc {
    margin-bottom: 25px;
}

.assignment-desc h3 {
    color: #111;
    margin-bottom: 10px;
}

.assignment-desc p {
    line-height: 1.6;
    color: #444;
}

.resources {
    margin-bottom: 30px;
}

.resources h3 {
    color: #111;
    margin-bottom: 10px;
}

.resources a {
    display: inline-block;
    background-color: #0ea5e9;
    color: #fff;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 5px;
    margin-top: 5px;
}

.resources a:hover {
    background-color: #0284c7;
}

.submission-section {
    background-color: #f9fafb;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #e2e8f0;
}

.submission-section h3 {
    margin-bottom: 15px;
    color: #111;
}

.submission-section p {
    color: #555;
    margin-bottom: 15px;
}

.submission-section form {
    display: block;
}

input[type="file"] {
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #0056b3;
}

.submission-info {
    background-color: #ecfdf5;
    padding: 15px;
    border: 1px solid #a7f3d0;
    border-radius: 6px;
    margin-top: 20px;
}
.submission-info-no {
    background-color: rgb(204, 55, 55);
    padding: 15px;
    border: 1px solid #a7f3d0;
    border-radius: 6px;
    margin-top: 20px;
}

.submission-info p {
    color: #065f46;
    margin: 6px 0;
}