body {
    font-family: Arial, sans-serif;
    background-color: #f4f5f7;
    margin: 0;
    padding: 20px;
}

.assignments-container {
    /* max-width: 1000px; */
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.filters {
    margin-bottom: 25px;
}

.filters label {
    margin-right: 8px;
    font-weight: bold;
    color: #333;
}

.filters select {
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 15px;
    font-size: 14px;
}

.assignment-card {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 10px 15px 0;
    box-sizing: border-box;
    height: 150px;
    position: relative;
}

.assignment-card h3 {
    font-size: 17px;
    color: #222;
    margin-bottom: 8px;
}

.assignment-card p {
    margin: 4px 0;
    /* color: #555; */
    font-size: 14px;
}

.assignment-card strong {
    color: #000;
}

.assignment-card a {
    text-decoration: none;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
}

.due-date{
    width: 80px;
    background-color: rgb(236, 35, 35);
    font-weight: 700;
    color: white;
    border-radius: 5px;
    padding: 4px;    
}

.assignment-card a:hover {
    background-color: #0056b3;
}

.no-results {
    text-align: center;
    color: #666;
    margin-top: 30px;
    font-style: italic;
}